

.bodySection {
  background-color:#b8c1b8;

  box-shadow: 10px 10px grey;
  padding:15px;
}

.bodyContent {
  font-size:25px;
  line-height: 1.6;
}



#projectsBody  {
  width:75%;
  margin:auto;
}

.projectTopButton {
  width:315px;
  height:68px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor:pointer;
  font-size:40px;
}
#newProjectButton {

  background-color:#3f929d;


color:white;

}

#newProjectButton:hover {
  background-color:#55a7b3;
}

#projectsList {
  width:100%;
}

#HeadingRow {
  height:50px;

}
.Heading  {
  font-size:40px;
  color:#3A403B;
  border-right: solid #7A807B;
  text-align:center;
    border-bottom: solid #7A807B;
}

.projectName, .projectDate{
  text-align:center;
}


.deleteProjectButton {
  cursor:pointer;
  width:50px;
  height:50px;
  margin:auto;
  background-image:url("projectsImages/trashcan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deleteProjectButton:hover {
  filter:brightness(200%);
}

.projectRow td {
  padding:5px;
  font-size:30px;
  cursor: pointer;
}

.projectRow:hover > .projectName {
  background-color:#8a938c;
}

.projectRow:hover > .projectDate {
  background-color:#8a938c;
}

#bodyDarken {
  width:100vw;
  height:100vh;
  position:fixed;
  background-color:rgba(0,0,0,0.4);
}

#newProjectPopup {
  padding:20px;
  text-align:center;
  font-size:30px;
  width:480px;
  height:250px;
  background-color:#b8c1b8;;
  box-shadow: 10px 10px grey;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

#newProjectPopup input[type=text] {
  radius:50%;
  border:solid 1px;
  background-image:none;
box-shadow: 5px 5px grey;
margin-bottom:30px;
width:340px;
height:50px;
margin-top:30px;
font-size:30px;
text-align: center;
}

#submitButton {
  background-color:#446f4b;
  color:white;
  cursor:pointer;
  width:300px;
  font-size:30px;
  border:none;
  box-shadow: 5px 5px grey;
}

#submitButton:hover {
  background-color:#24c149;
}
